.main-nav{
    min-height: 70px;
    padding-left: 40px;
}

.nav-log-text, .nav-log-text:hover{
    color: #00285F;

}

.main-menu{
    display: flex;
    font-size: 18px;
    width: 272px;
    justify-content: space-between;
}

.main-menu a{
    color: #00285F;
}

.main-menu a:hover{
    color: #00285F;
    font-weight: 700;
}

.main-menu a.active{
    color: #00285F;
    font-weight: 700;
}